<div>
  <h2 id="page-heading" data-cy="CoalConfHeading">
    <span jhiTranslate="coalDetectorApp.coalConf.home.title">Coal Confs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coalDetectorApp.coalConf.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coal-conf"
        [routerLink]="['/coal-conf/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coalDetectorApp.coalConf.home.createLabel"> Create a new Coal Conf </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coalConfs?.length === 0">
    <span jhiTranslate="coalDetectorApp.coalConf.home.notFound">No coalConfs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coalConfs && coalConfs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="project">
            <span jhiTranslate="coalDetectorApp.coalConf.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phone">
            <span jhiTranslate="coalDetectorApp.coalConf.phone">Phone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="send">
            <span jhiTranslate="coalDetectorApp.coalConf.send">Send</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soft2">
            <span jhiTranslate="coalDetectorApp.coalConf.soft2">Soft 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soft3">
            <span jhiTranslate="coalDetectorApp.coalConf.soft3">Soft 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="payStatus">
            <span jhiTranslate="coalDetectorApp.coalConf.payStatus">Pay Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note1">
            <span jhiTranslate="coalDetectorApp.coalConf.note1">Note 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note2">
            <span jhiTranslate="coalDetectorApp.coalConf.note2">Note 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coalType">
            <span jhiTranslate="coalDetectorApp.coalConf.coalType">Coal Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_M">
            <span jhiTranslate="coalDetectorApp.coalConf.up_M">Up M</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_M1">
            <span jhiTranslate="coalDetectorApp.coalConf.up_M1">Up M 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_M2">
            <span jhiTranslate="coalDetectorApp.coalConf.up_M2">Up M 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_M3">
            <span jhiTranslate="coalDetectorApp.coalConf.up_M3">Up M 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_M4">
            <span jhiTranslate="coalDetectorApp.coalConf.up_M4">Up M 4</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_A">
            <span jhiTranslate="coalDetectorApp.coalConf.up_A">Up A</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_A1">
            <span jhiTranslate="coalDetectorApp.coalConf.up_A1">Up A 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_A2">
            <span jhiTranslate="coalDetectorApp.coalConf.up_A2">Up A 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_A3">
            <span jhiTranslate="coalDetectorApp.coalConf.up_A3">Up A 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_A4">
            <span jhiTranslate="coalDetectorApp.coalConf.up_A4">Up A 4</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_V">
            <span jhiTranslate="coalDetectorApp.coalConf.up_V">Up V</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_V1">
            <span jhiTranslate="coalDetectorApp.coalConf.up_V1">Up V 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_V2">
            <span jhiTranslate="coalDetectorApp.coalConf.up_V2">Up V 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_V3">
            <span jhiTranslate="coalDetectorApp.coalConf.up_V3">Up V 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="up_V4">
            <span jhiTranslate="coalDetectorApp.coalConf.up_V4">Up V 4</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="low_m">
            <span jhiTranslate="coalDetectorApp.coalConf.low_m">Low M</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="low_m1">
            <span jhiTranslate="coalDetectorApp.coalConf.low_m1">Low M 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="low_m2">
            <span jhiTranslate="coalDetectorApp.coalConf.low_m2">Low M 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="low_m3">
            <span jhiTranslate="coalDetectorApp.coalConf.low_m3">Low M 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="low_m4">
            <span jhiTranslate="coalDetectorApp.coalConf.low_m4">Low M 4</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="eggCone1">
            <span jhiTranslate="coalDetectorApp.coalConf.eggCone1">Egg Cone 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="eggCone2">
            <span jhiTranslate="coalDetectorApp.coalConf.eggCone2">Egg Cone 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="eggCone3">
            <span jhiTranslate="coalDetectorApp.coalConf.eggCone3">Egg Cone 3</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="price1">
            <span jhiTranslate="coalDetectorApp.coalConf.price1">Price 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="price2">
            <span jhiTranslate="coalDetectorApp.coalConf.price2">Price 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coalConf of coalConfs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coal-conf', coalConf.id, 'view']">{{ coalConf.id }}</a>
          </td>
          <td>{{ coalConf.project }}</td>
          <td>{{ coalConf.phone }}</td>
          <td>{{ coalConf.send }}</td>
          <td>{{ coalConf.soft2 }}</td>
          <td>{{ coalConf.soft3 }}</td>
          <td>{{ coalConf.payStatus }}</td>
          <td>{{ coalConf.note1 }}</td>
          <td>{{ coalConf.note2 }}</td>
          <td>{{ coalConf.coalType }}</td>
          <td>{{ coalConf.up_M }}</td>
          <td>{{ coalConf.up_M1 }}</td>
          <td>{{ coalConf.up_M2 }}</td>
          <td>{{ coalConf.up_M3 }}</td>
          <td>{{ coalConf.up_M4 }}</td>
          <td>{{ coalConf.up_A }}</td>
          <td>{{ coalConf.up_A1 }}</td>
          <td>{{ coalConf.up_A2 }}</td>
          <td>{{ coalConf.up_A3 }}</td>
          <td>{{ coalConf.up_A4 }}</td>
          <td>{{ coalConf.up_V }}</td>
          <td>{{ coalConf.up_V1 }}</td>
          <td>{{ coalConf.up_V2 }}</td>
          <td>{{ coalConf.up_V3 }}</td>
          <td>{{ coalConf.up_V4 }}</td>
          <td>{{ coalConf.low_m }}</td>
          <td>{{ coalConf.low_m1 }}</td>
          <td>{{ coalConf.low_m2 }}</td>
          <td>{{ coalConf.low_m3 }}</td>
          <td>{{ coalConf.low_m4 }}</td>
          <td>{{ coalConf.eggCone1 }}</td>
          <td>{{ coalConf.eggCone2 }}</td>
          <td>{{ coalConf.eggCone3 }}</td>
          <td>{{ coalConf.price1 }}</td>
          <td>{{ coalConf.price2 }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coal-conf', coalConf.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/coal-conf', coalConf.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coalConf)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="coalConfs && coalConfs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
